.bg {
    background-color: #eff313;
}

.bgr {
    background-color: rgb(233, 39, 39);
}

.colory {
    color: #eff313;
}

.navw {
    height: 40px;
}

.colort {

    text-decoration: none;
    color: white;
}


.colort1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .1s ease-in;
    padding: 10px;
}

.colort1:hover {
    color: #eff313;
    transition: .1s ease-in;
    border-style: solid;
    border-top: #eff313;
    border-left: #eff313;
    border-right: #eff313;
}

.colorb {
    color: rgb(233, 39, 39);
}


.fontz {
    font-size: xx-large;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    padding-right: 35px;
    padding-left: 35px;
}

.siz {
    border-style: solid;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    border-width: 6px;
    width: 200px;
}

.bordbgr {
    border-color: #eff313;
    border-radius: 10%;
}

.bord {
    border-color: rgb(233, 39, 39);
    border-radius: 10%;
}

.bord1 {
    border-width: 0px;
}

.gray {
    background-color: rgb(221, 217, 217);
}

.bgopacity {
    filter: alpha(opacity=60);
    -moz-opacity: .60;
    opacity: .60;
}

.bgnone {
    background-color: unset;
}

.boton.cinco span {
    transition: .4s ease-in-out all;
    position: absolute;
    left: 30%;
    font-size: medium;
}

.boton.cinco .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -1px;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.boton.cinco svg {
    color: #fff;
    width: 35px;
    height: 35px;
}

.boton.cinco:hover {
    background: #babd10;
}

.boton.cinco:hover .icono {
    left: calc(80% - 50px);
    opacity: 1;
}

.boton.cinco:hover span {
    left: 20px;
}

.boton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background: rgb(29, 28, 28);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton2.cuatro span {
    transition: .4s ease-in-out all;
    position: absolute;
    left: 30%;
    font-size: medium;

}

.boton2.cuatro .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -1px;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.boton2.cuatro svg {
    color: #fff;
    width: 35px;
    height: 35px;
}

.boton2.cuatro:hover {
    background: rgb(233, 39, 39);
}

.boton2.cuatro:hover .icono {
    left: calc(80% - 50px);
    opacity: 1;
}

.boton2.cuatro:hover span {
    left: 20px;
}

.boton2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background: rgb(29, 28, 28);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton2 span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.conta {
    background-color: rgb(233, 39, 39);
    color: white;
    border-style: none;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    transition: .3s ease all;

}

.conta:hover {
    background-color: #eff313;
    transition: .3s ease all;
}

.cardb {
    background-color: rgb(243, 241, 241);
    border-style: none;
    transition: .5s ease all;

}

.cardb:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    transition: .5s ease all;

}

.hr1 {
    background-color: gray;
    width: 80px;
    height: 5px;
}

.cardc {
    border-style: none;
    background-color: rgb(233, 39, 39);
    transition: .5s ease all;
}

.cardc:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    transition: .5s ease all;
}

.letr {
    color: white;
    font-weight: 200;
}

.gray1 {
    background: url(../img/bgm1.png);
    background-color: rgb(221, 217, 217);
    background-repeat: no-repeat;
}

.direc {
    padding-top: 200px;
}

.hr2 {
    background-color: gray;
    width: 180px;
    height: 5px;
}

.hvimg {
    transition: .3s ease-in-out;
    width: 80%;
    height: 80%;
}

.hvimg:hover {
    width: 85%;
    height: 85%;
    transition: .3s ease-in-out;
}

.bgnav {
    background-color: rgb(233, 39, 39);
}

.btnnav {
    padding-top: 16px;
    padding-bottom: 12px;
    color: white;
    border-style: none;
    background-color: rgb(233, 39, 39);
    transition: .2s ease-in-out;
}

.btnnav:hover {
    transition: .2s ease-in-out;
    background-color: #eff313;
}

.prodcard {
    border-radius: 10px;
    border-style: none;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
}

.cardp {
    border-style: none;
    transition: .5s ease all;
}

.cardp:hover {
    box-shadow: 5px 5px 12px rgb(247, 80, 80);
    transform: translateY(-3%);
    transition: .5s ease all;

}

.imgcardp {
    max-width: 200px;
    min-width: 200px;
    max-height: 300px;
    min-height: 300px;
}

.selectc {
    padding: 2px;
    border-style: none;
    color: rgb(73, 72, 72);
    background-color: #ffffff;
    margin-right: 10px;
    border-radius: 2px;
}

.optionc {
    border-style: none;
}

.butonpr {
    border-radius: 2px;
    padding-top: 2px;
    border-style: none;
    background-color: #eff313;
    color: rgb(73, 72, 72);
    margin-left: -3px;
    margin-right: -3px;
}

.vistap {
    box-shadow: 5px 5px 10px rgb(238, 161, 161);
    border-style: none;
    border-radius: 25px;
}

.bgim {
    border-radius: 10px;
    border-style: none;
    background-image: url(../img/fondo.jpg);
    background-size: cover; 
 }

.imgvista {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 400px;
    max-width: 400px;
    min-height: 500px;
    max-height: 500px;
}

.hr2 {
    background-color: rgb(233, 39, 39);
    width: 200px;
    height: 5px;
}

.bcont {
    border-style: none;
    background-color: rgb(233, 39, 39);
    color: white;
    border-radius: 5px;
}

.cardin{
    top: 20px;
    width: 500px;
    height: 470px;
    box-shadow: 5px 5px 10px rgb(153, 153, 153);
    border-style: none;
    transition: .4s ease-in-out;

}

.cardin:hover{
    top: 12px;
    transition: .4s ease-in-out;

}

.carrito{
    border-style: none;
    background-color: rgb(22, 204, 22);
    color: rgb(216, 214, 214);
    width: 220px;
    height: 55px;
    border-radius: 10px;
    margin-left: -8px;
}

.back{
    border-style: none;
    background-color: rgb(233, 39, 39);
    color: white;
    border-radius: 10px;
    height: 30px;
}

.tarjeta{
    max-width: 86px;
    min-width: 40px;
    max-height: 50px;
    min-height: 30px;
}

.buttoncarrito{
    border-style: none;
    background-color: rgb(58, 241, 58);
    color: #ece8e8;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    transition: .3s ease-in-out;
}

.buttoncarrito:hover{
    background-color: rgb(17, 161, 17);
    color: #ffffff;
    transition: .3s ease-in-out;
}

.buttoncarritosolo{
    border-style: none;
    background-color: rgb(58, 241, 58);
    color: #ece8e8;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
}

.pago{
    border-style: none;
    background-color: rgb(113, 113, 240);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 46px;
    padding-left: 46px;
    border-radius: 10px;
    color: white;
}

.back1{
    border-style: none;
    background-color: rgb(233, 39, 39);
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

.back2{
    border-style: none;
    background-color: rgb(233, 39, 39);
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

.tablescroll{
    overflow-x: scroll;
}

